/* Chrome, Edge, and Safari */
#sideBar::-webkit-scrollbar,
#blog::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

#sideBar::-webkit-scrollbar-track,
#blog::-webkit-scrollbar-track {
    background: #eee;
}

#sideBar::-webkit-scrollbar-thumb,
#blog::-webkit-scrollbar-thumb {
    background-color: #FA9F00;
    border-radius: 0px;
    border: 0px solid #ffffff;
}


/* bubble text*/
.hoverText {
    transition:
        0.35s font-weight,
        0.35s color;
}

.hoverText:hover {
    font-weight: 900;
    color: rgb(238, 242, 255);
}

/* To the right */
.hoverText:hover+.hoverText {
    font-weight: 500;
    color: rgb(199, 210, 254);
}

.hoverText:hover+.hoverText+.hoverText {
    font-weight: 300;
}

/* To the left */
.hoverText:has(+ .hoverText:hover) {
    font-weight: 500;
    color: rgb(199, 210, 254);
}

.hoverText:has(+ .hoverText + .hoverText:hover) {
    font-weight: 300;
}


/* award carousel */
.custom-next-arrow,
.custom-prev-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.custom-next-arrow {
    right: -20px;
}

.custom-prev-arrow {
    left: -20px;
}